@import '../bower_components/gos-core/src/styles/settings.colours';
@import '../bower_components/gos-core/src/styles/settings.units';
// @import '../bower_components/gos-core/src/styles/settings.icons';
@import '../bower_components/gos-core/src/styles/tools.rem';
@import '../bower_components/gos-core/src/styles/tools.media-query';

$sport-card-theme: (
  bg: #fedd53,
  content-bg: rgba(0,0,0,0.3),
  color: #121212,
  box-shadow: none,
  toolbar-height: 48px,
  toolbar-bg: #fedd53,
  toolbar-border: none,
  icon-w: 48px,
  icon-h: 48px,
  cta-bg: #fedd53,
  cta-color: #ffffff,
  cta-hover-bg: #ffffff,
  cta-hover-color: #000000,
  share-panel-bg: #fedd53,
  share-panel-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
  control-ui-bg: rgba(0,0,0,0.7)
);

.gel-sport {
  font-family: 'fs-elliot';

  @import 'cards';
}
